/* chỉnh size chữ của brand + menu tabs */
.navbar-nav > li > a,
.navbar-brand {
  font-size: 18px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

/* canh đều trái/phải */
.navbar-nav > li > a {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.card {
  padding: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fafafa;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

      
      